node_modules/
dist/
КП ЗАЛ.pdf
.env
.env.example
public/images/1-slider/
public/images/2-slider/
public/images/3-slider/
public/images/texnik xodim/
public/images/IMG_8630.DNG
public/images/IMG_8637.DNG